
// Colors

   // Primary colors
$first-primary-color : #E7816B;
$second-primary-color : #1D1C1E;
$third-primary-color : #FFFFFF;

   // Secondary colors
$first-secondary-color: #FFAD9B;
$second-secondary-color: #333136;
$third-secondary-color: #F1F3F5;

   // Cards Project color
$card-project-color:#FDF3F0;

   // Modal color
$success-true-color:#33673B;
$success-false-color:#840032;


// Fonts

$font: 'Jost', sans-serif;