
.btn {
   font-family: $font;
   font-size: 1rem;
   font-weight: 500;
   letter-spacing: 1.1px;
   width: max-content;
   height: min-content;

   &--dark {
      @include button($second-secondary-color,
                   $third-primary-color,
                   $third-secondary-color,
                   $first-secondary-color,
                   "",
                   8px,
                   none,
                   25px,
                   15px);
   }
   
   &--light {
      @include button(  $third-primary-color,
                     $third-primary-color,
                     $first-primary-color,
                     $first-secondary-color,
                     "",
                     8px,
                     none,
                     25px,
                     15px);  
   }              
}
