
.cardProject {
   display: flex;
   flex-direction: column;
   max-width: 400px;

   &--project {
      background-color: $card-project-color;
      border-radius: 15px;
      margin-bottom: 2.5rem;

      @include hover-card;

      @media screen and (min-width:768px){
         margin: 2rem;
      }
   } 


   @media screen  and (min-width:768px){
      flex-direction: row;
      max-width: none;
   }

   @media screen  and (min-width:1024px){
      flex-direction: column;
      max-width: 350px;
   }

   img {
      border-radius: 15px 15px 0 0;

      @media screen  and (min-width:768px){
         width: 338px;

         border-radius: 15px 0 0 15px;
      }

      @media screen  and (min-width:1024px){
         border-radius: 15px 15px 0 0;
         width: auto;
      }
   }

   &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      border-radius: 0 0 15px 15px;;
      padding: 32px 30px 32px 30px;
      text-align: center;

      @media screen  and (min-width:768px){
         min-width: 200px;
         border-radius: 0 15px 15px 0;
      }

      @media screen  and (min-width:1024px){
         border-radius: 0 0 15px 15px;
         min-height: 168px;
      }

      h3 {
         color: $first-primary-color;
         margin-bottom: 1rem;
      }

      p {
         max-width: 80%;
         margin:0 auto;

         @media screen  and (min-width:768px) and (max-width:1024px){
            max-width: 80%;
            margin:0 auto;
         }
      }
   }
}


.cardsProject {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 2rem;
   margin-right: 2rem;

   @media screen  and (min-width:768px){
      align-items: stretch;
   }

   @media screen  and (min-width:1024px){
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1440px;
      margin: auto;
   }

   a {
      background-color: $card-project-color;
      border-radius: 15px;
      margin-bottom: 2.5rem;

      @include hover-card;

      @media screen and (min-width:768px){
         margin: 2rem;
      }
   }
}